---
permalink: /appstore.json
eleventyExcludeFromCollections: true
---

{
    "metadata": {
        "repoFriendlyName": "{{ metadata.title }}",
        "repoVersion": "{{ metadata.repoVersion }}",
        "maintainer": "{{ metadata.author.name }}"
    },
    "categories": [
        {% set allTags = [] -%}
        {% for app in collections.apps -%}
            {% for tag in app.data.tags -%}
                {% if allTags.indexOf(tag) === -1 -%}
                    {% set _ = allTags.push(tag) -%}
                {% endif -%}
            {% endfor -%}
        {% endfor -%}
        {% for category in allTags -%}
            "{{ category }}"{% if not loop.last %},{% endif -%}
        {% endfor -%}
    ],
    "applications": [
        {% for app in collections.apps -%}
        {
            "name": "{{ app.data.title }}",
            "icon": "{{ app.data.appIcon }}",
            "banner": "{{ app.data.appBanner }}",
            "description": "{{ app.data.appDescription }}",
            "author": "{{ app.data.appAuthor }}",
            "id": "{{ app.data.id }}",
            "category": "{{ app.data.tags }}"
        }{% if not loop.last %},{% endif -%}
        {% endfor -%}
    ]
}
